body {
  font-family: Arial !important;
  color: #333 !important;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.notepad-buttons {
  /* padding-right: 15px; */
}
.savebutton {
  background-color: 39acdc;
}

.notepad-layout {
  display: flex;
  justify-content: space-between;
}
.btn-primary {
  background-color: #39acdc !important;
}

.btn-danger {
  background-color: #ec3646 !important;
}
.btn-success {
  background-color: #57b93e !important;
}

.notepad-input {
  color: #333;
  background-color: white;
  margin: 20px;
  padding: 25px;
  border-radius: 10px;
  padding-bottom: 6px;
}
.home {
  background-color: rgb(238, 238, 238);
  max-width: 1024px;
  min-width: 320px;
  padding-bottom: 6px;
}
